.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}


.imp-cont__title {
  font-family: Raleway;
  font-weight: 800;
}

.imp-cont__description {
  font-family: OpenSans;
  font-weight: 300;
}


.page__shops {
  padding-bottom: 60px;
}

.page__banks {
  padding-bottom: 60px;
}

.page__hospitals {
  padding-bottom: 60px;
}

.page__secure {
  padding-bottom: 60px;
}

.page__to-drivers {
  padding-bottom: 50px;
}

.page__show-more-button {
  padding-bottom: 60px;
}


.list-box {
  display: flex;
}

.page__list-item {
  margin-right: 40px;
}

.page__list-item:last-child {
  margin-right: 0;
}

/* ====================================SHOPS================================= */
/* ====================================SHOPS================================= */



.heading {
  font-family: Raleway;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.61316;
  text-transform: uppercase;
  max-width: 920px;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-box {
  position: relative;
  border-radius: 6px;
}


.button--favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}


.name {
  font-family: Raleway;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 28px;
}


.address {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}


/* ====================================HOSPITALS================================= */
/* ====================================HOSPITALS================================= */


.hospitals__link-box {
  margin-top: 25px;
  max-width: 145px;
}

.hospitals__link {
  font-family: Raleway;
  font-weight: 800;
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hospitals__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
  background: url(../img/icons/arrow-right-big-icon.svg) 0 0 / 100% no-repeat;
  width: 7px;
  height: 12px;

}



/* ====================================SECURE================================= */
/* ====================================SECURE================================= */





/* ====================================SHOW-MORE-BUTTON================================= */
/* ====================================SHOW-MORE-BUTTON================================= */


.show-more-button__inner {
  display: flex;
  justify-content: center;
}

.show-more-button__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  width: 202px;
  height: 64px;
  background: #BEDB2B;
}

.show-more-button__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 38px;
  font-family: Raleway;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}


/* ====================================FOOTER================================= */
/* ====================================FOOTER================================= */


.footer__information {
  margin-top: 182px;
}


.footer__title {
  font-family: Raleway;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.15789;
}

.footer__address {
  font-family: OpenSans;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.55;
}


.footer__email {
  display: flex;
}

.footer__email p {
  font-family: OpenSans;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.55;
  margin-right: 8px;
}


.footer__email-link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer__maps-link span {
  text-decoration: underline;
}

.footer__map-link span {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.257;
  letter-spacing: 0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer__cookie-message {
  display: flex;
  background: #fff;
  border: 1px solid #D5D5D5;
  margin-top: 45px;
  max-width: 473px;
  height: 115px;
  border-radius: 8px;
}

.cookie-message__info {
  font-family: OpenSans;
  padding: 20px;
  padding-right: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
}

.cookie-message__close-btn {
  margin-left: 7px;
  margin-right: 10px;
  margin-top: 10px;
  max-height: 12px;
}

.footer__copyright {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.42308;
}

.footer__confidentiality {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.57692;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer__website-dev-link {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.42308;
}